BasedOnStyle: Google
IndentWidth: 2
UseTab: Never
ColumnLimit: 80
SpacesInAngles: false
SpacesInParentheses: false
SpaceBeforeParens: Never
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
