BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
SpacesInAngles: false
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
